@page "/login"
@using global::Receptek.Front.MODEL
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Bejelentkezés</h3>

@if (showError)
{
    <p style="color:red;">Sikertelen bejelentkezés.</p>
}

<form method="post" action="/auth/login-form">
    <input type="hidden" name="returnUrl" value="/" />

    <div>
        <label for="username">Felhasználónév:</label><br />
        <input id="username" name="Username" value="@model.Username" />
    </div>

    <div>
        <label for="password">Jelszó:</label><br />
        <input id="password" name="Password" type="password" value="@model.Password" />
    </div>

    <button type="submit">Belépés</button>
</form>

@code {
    private LoginRequest model = new();
    private bool showError = false;

    protected override void OnInitialized()
    {
        
        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);

        if (uri.Query.Contains("error=1"))
        {
            showError = true;
        }
    }
}