
<div>
    <footer style="width: 100%; background-color: darkslategray; opacity: 0.8;" class="text-light text-center py-3 flex">
        <div class="container">
            <p class="mb-0">
                © FoodShare | Minden jog fenntartva
            </p>
        </div>
    </footer>
</div>
@code {

}
