<div>
    <footer class="bg-dark text-white text-center p-3">
        <div class="container">
                <p class="mb-0">
                    © 2026 ReceptMegosztó | Minden jog fenntartva
                </p>
        </div>
    </footer>
</div>
@code {

}
