@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components.Authorization

<div class="page-layout">
    <header class="top-header">
        <TopNavbar />
    </header>

    <main class="main-content">
        <article class="content">
            @Body
        </article>

        <Footer />
    </main>
</div>