@inherits LayoutComponentBase

<div class="page">
        <NavMenu />

    <main style="padding-top: 5%">
        <article class="content px-4">
            @Body
        </article>
        <Footer />
    </main>
</div>
