<nav class="top-nav">
    <NavLink href="/" Match="NavLinkMatch.All">Főoldal</NavLink>
    <NavLink href="/receptek">Receptek</NavLink>
    <NavLink href="/menu">Menü</NavLink>
    <NavLink href="/login">Login</NavLink>
    <NavLink href="/register">Register</NavLink>
</nav>